:root {

	/* Sizes */

	--size-1: 16px;
	--size-2: 24px;
	--size-3: 32px;
	--size-4: 48px;
	--size-5: 64px;
	--size-6: 80px;
	--size-7: 96px;
	--size-8: 112px;
	--size-9: 144px;
	--size-10: 160px;
	--size-11: 280px;
	--size-12: 380px;

	/* Colors */

	--color-dark: #000000;
	--color-light: #ffffff;

	/* Fonts */

	--font-1: "megavolt", sans-serif;
	--font-2: "noka", sans-serif;
}

body{
	background-color: var(--color-dark);
	color: var(--color-light);
}

h1{
	font-family: var(--font-1);
	font-size: var(--size-6);
	line-height: var(--size-7);
	text-align: center;
}

p{
	font-family: var(--font-2);
}

	/* Header Area */

header{
	margin-bottom: var(--size-2);
	display: flex;
	width: 100vw;
}

.heading-container{
	border: var(--color-dark) 1px solid;
	border-right: none;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex: 1;	
	height: var(--size-7);
	overflow: hidden;
}

.heading-container:hover{
	h1{
		color: var(--color-dark);
	}
}

.heading-container:nth-child(1):hover{
	background: linear-gradient(to bottom, #ED5A42, #6F2B28);
}

.heading-container:nth-child(2):hover{
	background: linear-gradient(to bottom, #FEE15D, #F3892E);
}

.heading-container:nth-child(2):hover{
	background: linear-gradient(to bottom, #FEE15D, #F3892E);
}

.heading-container:nth-child(3):hover{
	background: linear-gradient(to bottom, #CBEE87, #175e19);
}

.heading-container:nth-child(4):hover{
	background: linear-gradient(to bottom, #84CCA6, #214839);
}

.heading-container:nth-child(5):hover{
	background: linear-gradient(to bottom, #C5EDFF, #173DD3);
}

.heading-container:nth-child(6):hover{
	background: linear-gradient(to bottom, #F8C5FF, #A417D3);
}

.heading-container:nth-child(7):hover{
	background: linear-gradient(to bottom, #FFC5E5, #D31772);
}

#last-container{
	border-right: var(--color-dark) 1px solid;
}

			/* Form  */

form{
	flex: auto;
	padding: var(--size-1);
	font-family: var(--font-2);
}

label{
	padding-right: var(--size-1);
	margin-bottom: var(--size-1);
	font-family: var(--font-1);
}

input{
	padding: var(--size-1);
	border: var(--color-light) 1px solid;
	font-family: var(--font-2);
	width: 40vw;
	margin-right: var(--size-1);
	margin-bottom: var(--size-1);
}

input:hover{
	background-color: var(--color-light);
	color: var(--color-dark);
}

button{
	padding: var(--size-1);
	padding-left: var(--size-2);
	padding-right: var(--size-2);
	border: var(--color-light) 1px solid;
	font-family: var(--font-2);
}

button:hover{
	background-color: var(--color-light);
	color: var(--color-dark);
}

			/* Secrets  */

.secrets{
	padding: var(--size-3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#secret-list{
	li{
		font-family: var(--font-2);
		padding: var(--size-2);
		color: var(--color-dark);
		background-color: var(--color-light);
		border-radius: 500px;
		margin: var(--size-1);
		width: 300px;
		height: 300px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.one-secret{
	padding: var(--size-1);
}

	/* Question Area */

.questions{
	padding: var(--size-3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.one-question{
	padding: var(--size-1);
}

#answers-list{
	ul{
		margin: 0;
	}
	li{
		font-family: var(--font-2);
		padding: var(--size-2);
		color: var(--color-dark);
		background-color: var(--color-light);
		border-radius: 500px;
		margin: var(--size-1);
		width: 300px;
		height: 300px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

	/*  Footer  */

#footer{
	padding: var(--size-1);
}

	/* Media Queries  */

@media (min-width: 1200px) {
	h1{
		font-size: var(--size-12);
		line-height: var(--size-11);
	}

	.heading-container{
		height: var(--size-11);
	}
}

