:root {

	/* Sizes */

	--size-1: 16px;
	--size-2: 24px;
	--size-3: 32px;
	--size-4: 48px;
	--size-5: 64px;
	--size-6: 80px;
	--size-7: 96px;
	--size-8: 112px;
	--size-9: 144px;
	--size-10: 160px;
	--size-11: 280px;
	--size-12: 380px;

	/* Colors */

	--color-dark: #000000;
	--color-light: #ffffff;
	--color-light-grey: #f3f3f3;
	--color-grey: #979797;

	--color-lime: #C7FF82;
	--color-medium-lime: #B2EB6A;
	--color-dark-lime: #004433;

	--color-blue: #9DC1FF;
	--color-medium-blue: #6EA3FF;
	--color-dark-blue: #0B2F6E;

	--color-pink: #FF91C8;
	--color-medium-pink: #F561AB;
	--color-dark-pink: #6F0D3E;

	--color-yellow: #FFE959;
	--color-medium-yellow: #FADE23;
	--color-dark-yellow: #75670C;

	--color-orange: #F86E58;
	--color-medium-orange: #ED5A42;
	--color-dark-orange: #841E0E;

	/* Fonts */

	--font-1: "neue-haas-grotesk-display", sans-serif;
	--font-2: "neue-haas-grotesk-text", sans-serif;
	--font-3: "DM Mono", monospace;
}

html {
	scroll-behavior: smooth;
}

body{
	color: var(--color-light);
	overscroll-behavior: none;
}

::selection {
	background-color: var(--color-yellow); 
	color: var(--color-dark-yellow); 
}

h1{
	font-family: var(--font-1);
	font-weight: 900;
	font-size: var(--size-7);
	color: var(--color-dark);
	line-height: var(--size-6);
	font-style: italic;
}

h2{
	font-family: var(--font-1);
	font-weight: 900;
	font-size: var(--size-3);
	color: var(--color-light);
	line-height: var(--size-3);
	padding: var(--size-2);
}


h3{
	font-family: var(--font-3);
	text-transform: uppercase;
	size: var(--size-1);
	color: var(--color-dark);
}

p{
	font-family: var(--font-2);
}

em{
	color: var(--color-lime);
	text-transform: uppercase;
	font-style: italic
}

	/* Header Area */

#header-text{
	padding: var(--size-2);
	overflow: hidden; 
	word-wrap: break-word; 
	white-space: normal; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
}

#header-image{
	width: 100%; 
	height: 300px; 
	overflow: hidden;
	position: relative;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}
}

			/* Form  */

#main-grid{
background-color: 
	var(--color-dark);
}

.form{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--size-1);
	background: radial-gradient(circle, var(--color-lime), var(--color-medium-lime), var(--color-dark-lime));
	padding: var(--size-4);
	border-radius: 500px;
	width: 343px;
	height: 343px;
}

.label{
	padding-right: var(--size-1);
	font-family: var(--font-3);
	font-size: var(--size-1);
	color: var(--color-grey);
}

input{
	padding: var(--size-1);
	font-family: var(--font-3);
	color: var(--color-dark);
	text-transform: uppercase;
	width: 300px;
	margin-right: var(--size-1);
	background-color: var(--color-medium-lime);
}

input:hover{
	background-color: var(--color-lime);
	color: var(--color-dark);
}

button{
	font-family: var(--font-2);
	padding: var(--size-1);
	padding-left: var(--size-2);
	padding-right: var(--size-2);
	background-color: var(--color-dark);
	color: var(--color-light);
	border-radius: 8px;
	transition: fill 0.3s ease-in-out;
	cursor: pointer;
	border: var(--color-dark) solid 1px;
}

.button-with-text{
	svg{
		padding-right: 8px;
	}
}

button:hover{
	background-color: var(--color-light);
	border: var(--color-dark) solid 1px;
	color: var(--color-dark);
	svg{
		path{
			fill: var(--color-dark);
		}
	}
}

			/* Secrets  */

.character-intro{
	display: flex;
	align-items: center;
	width: fit-content;
	margin-bottom: var(--size-2);
}

.text-bubble-lg{
	display: inline-block;
	height: fit-content;
	padding: 12px;
	background-color: var(--color-light-grey);
	color: var(--color-dark);
	border-radius: 0px 12px 12px 12px;
	h3{
		padding-bottom: 0px;
	}
}

.cat-svg{
	background-color: var(--color-light);
	width: 64px;
	height: 64px;
	margin-right: var(--size-1);
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#secrets-intro{
	padding-top: var(--size-4);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#secrets-form{
	padding: var(--size-8);
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1002;
}

#secrets-reveal{
	min-height: 80vh;
	h3{
		color: var(--color-light);
	}
	button{
		margin-top: var(--size-1);
		border: var(--color-light) solid 1px;
	}
}

#reset-link{
	font-family: var(--font-1);
	text-decoration: underline;
	font-weight: 500;
}

#reset-link:hover{
	color: var(--color-pink);
}

#secret-list{
	padding-left: var(--size-1);
	padding-right: var(--size-1);
	li{
		color: var(--color-light);
		display: flex;
		flex-direction: column;
		margin-bottom: var(--size-1);
		gap: var(--size-1);
		p{
			font-family: var(--font-3);
		}
		em{
			color: var(--color-grey);
		}
		h3{
			color: var(--color-light);
			padding: 0;
		}
		.label{
			color: var(--color-grey);
		}
	}
}

.green, .yellow, .pink, .orange, .blue {
	height: fit-content;
	width: fit-content;
	padding: var(--size-1);
	border-radius: 0px 12px 12px 12px;
	position: relative;
}

.yellow{
	background-color: var(--color-yellow);
	color: var(--color-dark-yellow);
}

.green{
	background-color: var(--color-medium-lime);
	color: var(--color-dark-lime);
}

.blue{
	background-color: var(--color-medium-blue);
	color: var(--color-dark-blue);
}


.orange{
	background-color: var(--color-medium-orange);
	color: var(--color-dark-orange);
}

.pink{
	background-color: var(--color-medium-pink);
	color: var(--color-dark-pink);
}

.one-secret{
	padding: var(--size-1);
}

.response-image{
	padding: 0;
	background-color: 0;
	overflow: hidden;
	border-radius: 300px;
	width: 112px;
	height: 112px;
	img{
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}

.response-text{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
}

.character-bubble{
	display: flex;
	flex-direction: row;
	gap: var(--size-1);
}

.fade-in {
	opacity: 0;
	animation: fadeInUp 2s ease-out forwards;
	animation-delay: 0.3s;
}

@keyframes fadeInUp {
	to {
	opacity: 1;
	}
}

	/* Sticky Link */

#sticky-secrets{
	position: fixed;
	bottom: 12px;
	right: 12px;
	display: none;
	opacity: 0;
	z-index: 1000;
	transition: opacity 0.3s ease;
	button{
		margin: 0;
		color: var(--color-dark);
		background-color: var(--color-light-grey);
		border: var(--color-dark) solid 1px;
		padding: 12px;
		padding-left: 12px;
		padding-right: 12px;
	}
	button:hover{
		background: radial-gradient(circle, var(--color-lime), var(--color-medium-lime), var(--color-dark-lime));
	}
}

#sticky-secrets.show {
	display: block;
	opacity: 1;
}

	/*  Footer  */

#footer{
	background-color: var(--color-dark);
	padding: var(--size-2);
	overflow: hidden;
	h1{
		color: var(--color-light);
		overflow: hidden; 
		word-wrap: break-word; 
		white-space: normal; 
	}
	.h3-small{
		color: var(--color-grey);
	}
	h3{
		color: var(--color-light);
	}
	img{
		height: 250px;
		width: 250px;
	}
	video{
		height: 250px;
		width: 250px;
	}
	a{
		font-family: var(--font-3);
		text-decoration: underline;
		font-size: var(--size-1);
		text-transform: uppercase;
	}
}

#footer-row{
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
	margin-bottom: var(--size-2);
	margin-top: var(--size-2);
}

#footer-images{
	display: flex;
	gap: var(--size-1);
	overflow-x: auto;
	scrollbar-width: none; 
	img, video{
		filter: grayscale(100%);
		transition: filter 0.3s ease;
	}
	img:hover {
		filter: grayscale(0%);
	}
	video:hover{
		filter: grayscale(0%);
	}
}


	/* Media Queries  */

@media (min-width: 768px) {

	h1{
		font-size: var(--size-8);
		line-height: var(--size-7);
	}

	h2{
		padding: 0;
		margin-bottom: var(--size-1);
	}

	/* Header Area */

	header{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	#header-image{
		height: 100vh; 
	}

	#header-text{
		padding: var(--size-4);
		height: 100vh;
	}

		/* Secrets */

	#main-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: start;
		min-height: 100vh;
	}

	.form{
		width: 500px;
		height: 500px;
		margin-bottom: var(--size-1);
	}

	#secrets-reveal{
		grid-column: span 2;
		padding: var(--size-4);
		padding-top: 0px;
		h3{
			padding: 0;
			padding-bottom: var(--size-1);
		}
	}

	#reset-link-container{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-top: var(--size-4);
	}

	#reset-link:hover{
		color: var(--color-pink);
	}

	#secret-list{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--size-1);
		padding: 0;
		li{
			color: var(--color-light);
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
		}
	}

	#secrets-form{
		height: 100%;
	}

	input{
		margin-bottom: 0;
	}

		/* Sticky Link */

	#sticky-secrets{
		bottom: var(--size-1);
		right: var(--size-1);
	}

		/* Footer */

	#footer{
		padding: var(--size-4);
	}

	#footer-row{
		flex-direction: row;
		gap: var(--size-8);
	}

	#footer-images{
		display: flex;
		flex-direction: row;
	}
}


@media (min-width: 1100px) {

	h1{
		font-size: var(--size-10);
		line-height: var(--size-9);
	}

	#secret-list{
		grid-template-columns: repeat(3, 1fr);
		gap: var(--size-6);
	}

}


